{{define "edit-item"}}
<fieldset>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" name="name" aria-describedby="" autofocus="" value="{{.Item.Name}}" placeholder="Name" required>
      </div>
      <div class="col-sm-1">
        <div title="Star an item to mark it as favourite">
          {{if .Item.Starred}}
            <i class="fa fa-star star-clickable"></i>
            {{else}}
            <i class="fa fa-star-o star-clickable"></i>
          {{end}}
        </div>
        <input type="hidden" id="star" name="star" value="{{.Item.Starred}}">
      </div>
    </div>
  </div>
  <div class="row images">
    {{range .Item.Images}}
    <div class="item-image col-sm-2">
      <a target="_blank" href="/item-images/{{.ID}}"><img src="/item-images/{{.ID}}"/></a>
      <button type="button" class="btn btn-danger">
        <a href="/confirm-delete-item-image/{{.ID}}" style="color:inherit">Delete image</a>
      </button>
    </div>
    {{end}}
  </div>
  <div class="form-group">
    <label for="image">Add new image</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="category" name="category" aria-describedby="" value="{{.Item.Category}}" placeholder="Category" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="brand" name="brand" aria-describedby="" value="{{.Item.Brand}}" placeholder="Brand" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="color" name="color" aria-describedby="" value="{{.Item.Color}}" placeholder="Color">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <input type="text" class="form-control" id="price" name="price" aria-describedby="" {{if .Item.Price}}value="{{.Item.Price}}"{{end}} placeholder="Price">
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="currency" name="currency" aria-describedby="" value="{{.Item.Currency}}" placeholder="Currency">
      </div>
    </div>
  </div>
   <div class="form-group">
      <button type="submit" class="btn btn-success">Save item</button>
      {{if .Item.ID}}
        <button type="button" class="btn btn-danger">
          <a href="/confirm-delete-item/{{.Item.ID}}" style="color:inherit">Delete item</a>
        </button>
      {{end}}
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="code" name="code" aria-describedby="" value="{{.Item.Code}}" placeholder="Code">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="url" name="url" aria-describedby="" value="{{.Item.URL}}" placeholder="URL">
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description">{{.Item.Description}}</textarea>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <input type="text" class="form-control" id="size" name="size" aria-describedby="" value="{{.Item.Size}}" placeholder="Size">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label for="season">Season</label>
        <select class="form-control" id="season" name="season">
      		<option value="all-year">All year</option>
      		<option value="fall-winter">Fall/Winter</option>
      		<option value="spring-summer">Spring/Summer</option>
        </select>
      </div>
    </div>
  </div>
   <div class="form-check disabled">
     <label class="form-check-label" for="formal">
       <input class="form-check-input" type="checkbox" value="" id="formal" name="formal">
       Formal
     </label>
   </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" aria-describedby="" value="{{.Item.Quantity}}">
      </div>
    </div>
  </div>
   <div class="form-group">
      <button type="submit" class="btn btn-success">Save item</button>
      {{if .Item.ID}}
        <button type="button" class="btn btn-danger"> 
          <a href="/confirm-delete-item/{{.Item.ID}}" style="color:inherit">Delete item</a>
        </button>  
      {{end}}
  </div>
</fieldset>
{{end}}