{{define "edit-item"}}
<fieldset>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="" autofocus="" value="{{.Item.Name}}">
  </div>
  <div class="row images">
    {{range .Item.Images}}
    <div class="item-image col-sm-2">
      <a target="_blank" href="/item-images/{{.ID}}"><img src="/item-images/{{.ID}}"/></a>
      <button type="button" class="btn btn-danger">
        <a href="/confirm-delete-item-image/{{.ID}}" style="color:inherit">Delete image</a>
      </button>
    </div>
    {{end}}
  </div>
  <div class="form-group">
    <label for="image">Add new image</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category" name="category">
      <option value="">(no category selected)</option>
      <option>Add new category</option>
      <option value="">-------------</option>
      {{range .Categories}}
      <option{{if eq $.Item.Category .}} selected{{end}}>{{.}}</option>
      {{end}}
    </select>
  </div>
  <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand" name="brand" aria-describedby="" value="{{.Item.Brand}}">
  </div>
  <div class="form-group">
    <label for="price">Price per item</label>
    <input type="text" class="form-control" id="price" name="price" aria-describedby="" value="{{.Item.Price}}">
    <label for="currency">Currency</label>
    <input type="text" class="form-control" id="currency" name="currency" aria-describedby="" value="{{.Item.Currency}}">
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" class="form-control" id="quantity" name="quantity" aria-describedby="" value="{{.Item.Quantity}}">
  </div>
   <div class="form-group">
      <button type="submit" class="btn btn-success">Save item</button>
      {{if .Item.ID}}
        <button type="button" class="btn btn-danger">
          <a href="/confirm-delete-item/{{.Item.ID}}" style="color:inherit">Delete item</a>
        </button>
      {{end}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{.Item.Description}}</textarea>
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <select class="form-control" id="color" name="color">
      <option value="">(no color selected)</option>
  		<option>Add new color</option>
  		<option value="">-------------</option>
      {{range .Colors}}
  		<option{{if eq $.Item.Color .}} selected{{end}}>{{.}}</option>
      {{end}}
    </select>
  </div>
  <div class="form-group">
    <label for="size">Size</label>
    <input type="text" class="form-control" id="size" name="size" aria-describedby="" value="{{.Item.Size}}">
  </div>
  <div class="form-group">
    <label for="season">Season</label>
    <select class="form-control" id="season" name="season">
		<option value="all-year">All year</option>
		<option value="fall-winter">Fall/Winter</option>
		<option value="spring-summer">Spring/Summer</option>
    </select>
  </div>
   <div class="form-check disabled">
     <label class="form-check-label" for="formal">
       <input class="form-check-input" type="checkbox" value="" id="formal" name="formal">
       Formal
     </label>
   </div>
   <div class="form-group">
      <button type="submit" class="btn btn-success">Save item</button>
      {{if .Item.ID}}
        <button type="button" class="btn btn-danger"> 
          <a href="/confirm-delete-item/{{.Item.ID}}" style="color:inherit">Delete item</a>
        </button>  
      {{end}}
  </div>
</fieldset>
{{end}}