{{define "items"}}
	{{template "header" .}}
	<ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/items?category=">Items</a></li>
	    {{if .SelectedCategory}}
	    <li class="breadcrumb-item">{{.SelectedCategory}}</li>
	    {{else}}
	    <li class="breadcrumb-item">All categories</li>
	    {{end}}
	</ol>

	<p>
		<select class="select-category">
			<option value="">All categories</option>
			{{range .Categories}}
			<option{{if eq . $.SelectedCategory}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
		<select class="select-brand">
			<option value="">All brands</option>
			{{range .Brands}}
			<option{{if eq . $.SelectedBrand}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
		<select class="select-color">
			<option value="">All colors</option>
			{{range .Colors}}
			<option{{if eq . $.SelectedColor}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
	</p>
	<p>
		<a class="btn btn-success" href="/new?category={{.SelectedCategory}}">Add an item</a>
	</p>

	{{range .ItemCategories}}
		{{if .Items}}
			<h1><a href="/items?category={{.Description}}">{{.Description}} ({{.ItemCount}})</a></h1>
			<div class="row images">
			{{range .Items}}
				<div class="item-image col-sm-2">
					<div class="image-frame">
					{{if .ImageID}}
						<a href="/items/{{.ID}}">
							<img src="/thumbnails/{{.ImageID}}" alt="{{.Name}}"/>
						</a>
					{{end}}
					</div>
					<a href="/items/{{.ID}}">{{.Name}}{{if ne .Quantity 1}} ({{.Quantity}}){{end}}{{if .Color}} - {{.Color}}{{end}}</a>
					{{if .Starred}}
						<i class="fa fa-star"></i>
					{{end}}
				</div>
			{{end}}
			</div>
		{{end}}
	{{end}}

	{{template "footer" .}}
{{end}}
