{{define "items"}}
	{{template "header" .}}
	<p>
		<select class="select-category">
			<option value="">All categories</option>
			{{range .Categories}}
			<option{{if eq . $.SelectedCategory}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
		<select class="select-brand">
			<option value="">All brands</option>
			{{range .Brands}}
			<option{{if eq . $.SelectedBrand}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
		<select class="select-color">
			<option value="">All colors</option>
			{{range .Colors}}
			<option{{if eq . $.SelectedColor}} selected{{end}}>{{.}}</option>>
			{{end}}
		</select>
		<a class="btn btn-success" href="/items?category=&brand=&color=">Reset</a>
	</p>
	<p>
		<a class="btn btn-success" href="/new?category={{.SelectedCategory}}">Add an item</a>
	</p>

	{{range .ItemCategories}}
		{{if .Items}}
			<h1><a href="/items?category={{.Description}}">{{.Description}} ({{.ItemCount}})</a></h1>
			<div class="row images">
			{{range .Items}}
				{{template "item-image" .}}
			{{end}}
			</div>
		{{end}}
	{{end}}

	{{template "footer" .}}
{{end}}
