{{define "items"}}
	{{template "header" .}}

	{{if not .Items}}
		<h1>Welcome!</h1>
		<p>Start by adding clothes from your wardrobe: <a class="btn btn-success" href="/new">Add an item</a></p>
	{{end}}

	{{if .Items}}
		<p><a class="btn btn-success" href="/new">Add an item</a></p>
	{{end}}

	{{if .Categories}}
		{{range .Categories}}
			{{if .Items}}
				<h1>{{.Description}}</h1>
				<div class="row images">
				{{range .Items}}
					<div class="item-image col-sm-2">
						<div class="image-frame">
						{{if .ImageID}}
							<a href="/items/{{.ID}}">
								<img src="/images/{{.ImageID}}"/>
							</a>
						{{end}}
						</div>
						<a href="/items/{{.ID}}">{{.Name}}</a>
					</div>
				{{end}}
				</div>
			{{end}}
		{{end}}
	{{end}}

	{{template "footer" .}}
{{end}}
