
.container {
	margin-top:50px;
}

button {
	cursor: pointer;
}

footer {
	margin-top:100px;
	margin-left:20px;
}

ul {
  list-style-type: none;
}

.images img {
	max-height: 140px;
	max-width:140px;
	max-width:200px;
}

.images .item-image {
	margin-bottom:20px;
}

.image-frame {
    height: 140px;
}