body {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: 100% 100%;
	font-family: 'Raleway', sans-serif;
 	background: url(img/background-small.jpg) no-repeat center center fixed;
}

a, a:hover {
	text-decoration: none;
}

button {
	cursor: pointer;
}

footer {
	color: #fff;
	margin-left:20px;
	margin-top:33%;
}

ul {
	list-style-type: none;
}

.container {
	background:white;
	margin-top:50px;
	padding-bottom:5px;
	padding-top:20px;
}

.images img {
	max-height:140px;
	max-width:200px;
}

.images .item-image {
	margin-bottom:20px;
}

.image-frame {
    height: 140px;
}

.star-clickable {
	cursor:pointer;
	margin-bottom: 10px;
}
