{{define "items"}}
	{{template "header" .}}

	{{if not .Items}}
	<h1>Welcome!</h1>
	<p>Start by adding clothes from your wardrobe: <a href="/new">Add an item</a></p>
	{{end}}

	{{if .Items}}
	<p><a href="/new">Add an item</a></p>
	{{end}}

	<table class="table table-hover table-bordered">
	    <thead>
	      <tr>
	        <th scope="col">Name</th>
	        <th scope="col">Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {{range .Items}}
	      <tr>
	        <th scope="row"><a href="/items/{{.ID}}">{{.Name}}</a></th>
	        <td>{{.Description}}</td>
	      </tr>
	      {{end}}
	    </tbody>
	  </table>

	{{template "footer" .}}
{{end}}